@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1300px)
	/**/
	.baner
		min-height: 50vw
		height: 50vw
		border-radius: 4vw
		box-shadow: 0px 0px 2vw #000
	.baner--main
		padding: 25px 0
	.section__title
		font-size: 12vw
		width: 50vw
		.we 
			font-size: 10vw
	.wrapper
		padding: 2vw
		width: 98%
	.who-we-are__content
		padding-top: 5px
		p 
			margin-bottom: 0
	.who-we-are__content .button
		margin-top: 20px
	.news-row
		padding-top: 2vw
	.news-col p
		font-size: 1.8vw
	.news-date
		font-size: 1.5vw
		margin-top: 1vw
	.statistic__item
		margin-left: 30px
	.highlights__img
		margin-top: -10vw
	.highlights__col 
		p 
			line-height: 1.1
	.highlights__col:nth-child(odd)
		margin-top: -50px
	.section__title-follow
		width: auto
	.baner--follow-us
		height: 28vw
		min-height: 28vw
	.section__title--news
		font-size: 10vw


	




/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/
	.menu__link
		margin-left: 30px
	.main-screen__title
		font-size: 6.5vw
		line-height: 1.2
	.main-screen__text
		margin-top: 0 
		font-size: 3.3vw
		line-height: 1.4
	.main-screen__text
		width: 52vw
		text-shadow: 1px 1px 2px #000
	.baner--main
		padding: 3vw 0
	.section 
		margin-bottom: 5vw
	.who-we-are__content
		p
			font-size: 2.3vw
			margin-bottom: 1vw 
	.who-we-are__content .button
		margin-top: 0
	.section__title
		width: 100%
		text-align: left
		margin-bottom: 1vw
		br 
			display: none
		.are 
			padding-right: 0
	.latest
		padding-right: 0
	.news-row
		padding-top: 2vw
	.news-col p
		font-size: 3vw
	.news-date
		font-size: 2.6vw
		margin-top: 1vw
	.news-col
		width: 48%
	.statistic
		margin-top: -4vw
		
	.statistic__items
		display: flex
		justify-content: flex-end
	.statistic__item
		margin-left: 1.5vw
		width: 45vw
		border-radius: 3vw


	.statistic__item__text
		font-size: 4.5vw
	.statistic__item-title
		font-size: 5vw

	.statistic__item-title span
		font-size: 8vw
	.statistic__item
		padding-top: 4vw
	.statistic__item-title
		margin-bottom: 2vw
	.statistic__item
		height: 40vw
		width: 40vw
	.statistic
		padding-top: 15vw
		margin-top: -2vw
	.statistic__items
		margin-top: 4vw
	.highlights__col
		width: 24.5%
		p 
			font-size: 1.3vw
	.highlights__title 
		font-size: 3vw
		border-width: 1vw
	.form-wrapper
		padding-top: 4vw
	.sib-form-message-panel
		top: 0px
	.main-screen__text-big
		font-size: 3.3vw
		width: auto
	.main-screen__text2 
		width: auto
		font-size: 3vw
	





/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/
	.menu
		ul 
			display: none
	.menu__btn
		cursor: pointer
	.menu__row
		width: 30px 
		height: 2px 
		margin-bottom: 5px 
		background: #fff
		transition: all 0.3s
	.menu__row:last-child 
		margin-bottom: 0
	.logo
		width: 120px
	.menu__btn.active 
		.menu__row:last-child 
			display: none
		.menu__row:first-child 
			transform: rotate(45deg)
			margin-bottom: 0
			position: relative
			top: 1px
		.menu__row:nth-child(2) 
			transform: rotate(-45deg)
	.header 
		position: relative
	.menu.active 
		ul 
			display: block
			position: absolute
			top: 90% 
			left: 0
			width: 100%
			background: $main-color 
			z-index: 999
			padding-top: 30px
			min-height: 100vh

	.menu__link
		margin-bottom: 20px
	.who-we-are__content
		width: 100%
		p
			font-size: 2.8vw
			margin-bottom: 1vw
	.who-we-are__content .button
		width: 35vw 
		height: 9vw 
		font-size: 3.4vw
		border-radius: 2vw
	.section__title
		margin-bottom: 1vw
		font-size: 9vw
		color: #000
		letter-spacing: 0 
		padding-right: 0
		.we 
			font-size: 8vw
	.wrapper
		padding: 2.5vw 0
		width: 95%
	.highlights__footer .button 
		font-size: 3.4vw
		width: 43vw
		height: 7vw
		margin-left: 3vw
		border-radius: 2vw
	.highlights__col
		width: 24.5%
		p 
			font-size: 1.8vw
			margin-bottom: 1vw
			line-height: 1
	.highlights__col:nth-child(odd)
		margin-top: -4vw
	.highlights__row
		margin-top: -16vw
	.input
		width: 55vw
	.sib-form-block__button
		width: 20vw
	#sib-form
		width: 100%
	.sib-form-message-panel
		padding: 0 !important
	.input
		height: 8vw !important
		font-size: 3vw !important
		border-radius: 2vw !important
		padding-left: 3vw !important
	.sib-form-block__button
		height: 8vw
		max-height: 8vw
		min-height: 8vw
		font-size: 3vw !important
		border-radius: 2vw !important
	.sib-form-block__button
		padding: 0
	.sib-form-message-panel__inner-text
		font-size: 2.8vw
	.sib-form .entry__error
		font-size: 2.8vw
	.social a
		margin-left: 4vw
	.social a
		width: 9vw 
		height: 9vw 
		img 
			max-width: 50%
	.baner--follow-us
		.wrapper 
			padding-top: 1vw
	.sib-form-block
		padding: 0 0 !important
	.sib-form .entry__error
		bottom: -5vw
	.sib-form-message-panel__text .sib-notification__icon
		width: 3.5vw 
		height: 3.5vw 
		margin-right: 1vw
	.sib-form
		padding-left: 0 !important
		padding-right: 0 !important
	.sib-form-message-panel__text
		padding-top: 0 
		padding-bottom: 0
	.footer__menu
		margin-top: 10vw 
		margin-bottom: 5vw
		a
			font-size: 3.8vw
	.copy 
		font-size: 3.8vw 
		padding-bottom: 5vw









/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/
	.top-header
		font-size: 12px
	



/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/





